.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Sidebar */
.makeStyles-drawerPaper-16{
  top: 55px !important;
}
/* FONTEND */
.nav-icons{
  align-items: flex-end;
}

.sr-only{
  display: none;
}

.main{
  padding-top: 60px;
  /* padding-bottom: 350px; */
}

.card{
  border: 0;
}

.footer{
  background-color: #282c34;
  display: block;
  bottom: 0;
  width: 100%;
  color: wheat;
  padding: 40px 40px 5px 40px;
}

.copyright{
  text-align: center;
  font-size: small;
  margin-top: 25px;
}
/* ADMIN */
.content{
  margin-left: 260px;
  padding-top: 60px;
}

.textarea{
  width: 100%;
  border: 0;
  border-bottom: 1px solid grey;
  background-color: #e9e8e8;
  box-sizing: content-box;
}
.textarea::placeholder{
  font: inherit;
  font-size: 16px;
}
.textarea:hover{
  border-bottom: 2px solid black;
}

.item-card{
  background-color: #e9e8e8 !important;
  padding: 10px;
  box-shadow: 3px 5px rgb(203, 202, 202) !important;
}

.item-card img{
  width: 100%;
   height: 200px;
   padding: 10px;
}

.item-card h3{
  font-weight: 500;
}